<center><h1>Introduction to Variables and Data Types</h1></center>

### Variables

* Are like placeholders to store the data / information and whenever there is a need of using the data / information, we can simply use the variables by calling it.

<img src="https://raw.githubusercontent.com/msameeruddin/Python-Programming/main/2_Python_Datatypes/variables.png">

**Image by author**

### Data Types

* Come in handy with variables to tell the compiler or interpreter which *__"type"__* of the *__"data"__* you as a programmer going to store in the variables.

<img src="https://raw.githubusercontent.com/msameeruddin/Python-Programming/main/2_Python_Datatypes/datatypes_library.png">

**Image by author**

Unlike other languages, we need not specify or define the variable like this $\rightarrow$ <strong>(type) [var_name] = (value)</strong>

### `C` & `Python` Comparison

**C** - example
```c
int a = 10;
float b = 11.21;
String c = "hi";
```

**Python** - example (Dynamic type)
```python
a = 10
b = 11.21
c = "hi"
d = [1, 2, 3, 4, 5.321, "hello", "world"]
e = True
```

In both the cases, to use the value `10` we can simply call `a`. Same case with `b` and `c`.

### `int`

In [1]:
a = 123
print(a)
print("a - type", type(a))

b = 4324434355345455
print(b)
print("b - type", type(b))

123
a - type <class 'int'>
4324434355345455
b - type <class 'int'>

### `float`

In [2]:
a = 12.3423
print(a)
print("a - type", type(a))

b = 21323.000
print(b)
print("b - type", type(b))

12.3423
a - type <class 'float'>
21323.0
b - type <class 'float'>

### String â†’ `str`

In [3]:
# with single quotes
a = 'sameer'
print(a)
print("a - type", type(a))

d = 's'
print(d)
print("d - type", type(d))

# with double quotes
b = "python"
print(b)
print("b - type", type(b))

c = '123'
print(c)
print("c - type", type(c))

# with triple quotes
e = '''python is amazing'''
print(e)
print("e - type", type(e))

sameer
a - type <class 'str'>
s
d - type <class 'str'>
python
b - type <class 'str'>
123
c - type <class 'str'>
python is amazing
e - type <class 'str'>

In [4]:
f = '''
hi
hello
how are you
'''

print(f)
print("f type", type(f))

hi
hello
how are you

f type <class 'str'>

In [5]:
s = '#$%##$%%%&$$%^'
print(type(s))

<class 'str'>

### `list`

* A container that can store elements of **any type** and seperated by comma (,)
    * starts with `[`
    * ends with `]`

In [6]:
a = [1, 12.323, "hi"]
print(a)
print("a - type", type(a))

[1, 12.323, 'hi']
a - type <class 'list'>

In [7]:
b = [1, 2, 3, ['hey', 12.18]]
print(b)
print("b - type", type(b))

[1, 2, 3, ['hey', 12.18]]
b - type <class 'list'>

### List Indexing

* List indexing starts from `0`.
* The last index of the list would be `(n - 1)`.

In [8]:
a = ["hey", "python", "sameer", "india", "Earth"]
print("first", a[0])
print("second", a[1])
print("fourth", a[3])
print("fifth", a[4])

# the length of the above list is 5
# print(a[5]) # error occurs
# print(a[-1])

first hey
second python
fourth india
fifth Earth

### `list` Concatenation

In [9]:
my1 = [1, 2, 3, 10, 11, 100, 1000, "boom boom"]
my2 = [4, 5, 6]

print(my1 + my2)

[1, 2, 3, 10, 11, 100, 1000, 'boom boom', 4, 5, 6]

In [10]:
my1 = [1, 2, 3, 10, 11, 100, 1000, "boom boom"]
my2 = [4, 5, 6]

my1.append(my2)
print(my1)

[1, 2, 3, 10, 11, 100, 1000, 'boom boom', [4, 5, 6]]

In [11]:
my1 = [1, 2, 3, 10, 11, 100, 1000, "boom boom"]
my2 = ["4, 5, 6"]

print(my1 + my2)

[1, 2, 3, 10, 11, 100, 1000, 'boom boom', '4, 5, 6']

### `append()`

* It adds values at the end of the list.

In [12]:
my = [1, 2, 3]
b = 4

# add 4 to my1 in such a way that I get [1, 2, 3, 4]
my.append(b)
print(my)

[1, 2, 3, 4]

In [13]:
my3 = [1, 2, 3]
print("before - ", my3)

# append a single value
my3.append(4)
print("single value append - ", my3)

# append an entire list
my3.append(["hi", "hey", "hello"])
print("appending a list - ", my3)

# what is the output of my3 if I print?
print("after - ", my3)

before -  [1, 2, 3]
single value append -  [1, 2, 3, 4]
appending a list -  [1, 2, 3, 4, ['hi', 'hey', 'hello']]
after -  [1, 2, 3, 4, ['hi', 'hey', 'hello']]

### `insert()`

* It adds values in the middle of list.

In [14]:
my3

[1, 2, 3, 4, ['hi', 'hey', 'hello']]

In [15]:
some_element = 'wooooo'

In [16]:
my3.insert(3, some_element)

In [17]:
print(my3)

[1, 2, 3, 'wooooo', 4, ['hi', 'hey', 'hello']]

### `len()`

In [18]:
a = ["1", "2", "python", "java", "c", 2121.323]
print(a)
print("a - type", type(a))
######
print("length or size of a is - ", len(a))

['1', '2', 'python', 'java', 'c', 2121.323]
a - type <class 'list'>
length or size of a is -  6

<center><h1>Operators in Python</h1></center>

Represent an action to be performed on the **data / object** and return the result.

**Operator** is a way to perform an action or operation. Specifically in mathematics if we want to perform addtion operation, we simply use `+`. The concept of Operators is same in Computer science as well.

**Types of operators**

* Arithematic Operators
* Assignment Operators
* Relational Operators
* Logical Operators
* Identity Operators
* Membership Operators
* Bitwise Operators

### Arithematic Operators â†’ `+`, `-`, `*`, `/`, `%`, `//`

* `+` â†’ addition
* `-` â†’ subtraction
* `*` â†’ multiplication
* `/` â†’ division
* `%` â†’ modulus
* `//` â†’ integer division or floor division

In [19]:
# show example of each kind
a = 123
b = 4
print(a / b)
print(a // b)

30.75
30

In [20]:
(12 // 3), (12 / 3)

(4, 4.0)

In [21]:
e = 4
print(e % 2)

0

In [22]:
e / 2

2.0

### $a^3$ â†’ Power Operation

In [23]:
a = 2
print(a ** 6)

64

### BODMAS

* **B** â†’ ()
* **O** â†’ orders
* **D** â†’ /
* **M** â†’ *
* **A** â†’ +
* **S** â†’ -

In [24]:
(1 + 21 // 3) * 12 + 13 - 11

98

In [25]:
num1 = 32
print(num1 * 3 + 4 - 10)

90

In [26]:
12 // (3 * 5)

0

In [27]:
289 ** (1 / 2)

17.0

### Assignment Operator â†’ `=`

* Variable declaration (Main use)

In [28]:
# show other examples

num2 = 2
num2 = num2 + 4
print("before", num2)

# num2 = num2 + 4
num2 += 4
print("after", num2)

before 6
after 10

In [29]:
num2 = 2
print("before", num2)

# num2 = 10 + num2
num2 =+ 10
print("after", num2)

before 2
after 10

### Relational Operators

Mainly used in comparing two variables or data values. Always returns `boolean`

```python
True
False
```

* `==` â†’ Equal
* `!=` â†’ not Equal
* `<=` â†’ less than or Equal
* `>=` â†’ greater than or Equal
* `<` â†’ less than
* `>` â†’ greater than

In [30]:
# show examples â†’ !=

num3 = 1
num4 = -1
num3 != num4

True

In [31]:
# show examples â†’ ==

num3 = 1
num4 = 1
num3 == num4

True

In [32]:
# show examples â†’ >

num3 = 1
num4 = 2
num4 > num3

True

### Logical Operators â†’ `and`, `or`, `not`

To understand this, let us understand a basic chart (sheet) to get started.

<img src="https://raw.githubusercontent.com/msameeruddin/Python-Programming/main/2_Python_Datatypes/cheatsheet_oan.png">

**Image by author**

Logical operators are heavily used in **conditional statements**. We cannot imagine a development or a program without conditional statements.

**Note**
* In the above table `T` refers to `True` and `F` refers to `False`. 
* For our convenience we can rewrite `T` as `1` and `F` as `0`.

In [33]:
True or True

True

In [34]:
True or False

True

In [35]:
True or True or False or True

True

In [36]:
True and False

False

In [37]:
True and True

True

In [38]:
True or False and True or False

True

In [39]:
not True

False

In [40]:
not False

True

In [41]:
False or (not (not (not False)))

True

In [42]:
n1 = 1
n2 = 1
n3 = 5
n4 = -12

not ((n1 == n2) and (n4 > n3))

True

### Identity Operators â†’ `is`, `is not`

This is used when we want to compare **two objects**. Here I strongly say that we are **not** comparing or relating **two values**. We rather deal with same memory location of the values.

```python
>>> 1 is 1
True
>>> 0 is 1
False
```

**Note**

* **is** â†’ is same as **==**
* **is not** â†’ is same as **!=**

**Examples**

```python
>>> 100 is 100
True
>>> 100 == 100
True
>>> ##########
>>> 100 is 110
False
>>> 110 == 100
False
>>> 110 is not 100
True
>>> 110 != 100
True
```

In [43]:
my_num = 100
my_num2 = 110

In [44]:
print(my_num is my_num2)
print(my_num is not my_num2)

False
True

### Membership Operators â†’ `in`, `not in`

It is used to validate if a particular element is present in a sequence or not. It is mostly used `List` to check if an item is present in a sequence. Returns a boolean object after performing the operation.

```python
>>> 1 in [1, 2, 3, 4, 5, 6]
True
>>> -1 in [1, 2, -3, -4, -5, 87, 100]
False
```

In [45]:
1 in [1, 2, 3, 4, 5, 6]

True

In [46]:
l = [1, 2, 3, 4, 5, 6]
l.index(4)

3

In [47]:
a = ["hi", "hello", "hey"]
"hey" in a

True

In [48]:
not (not "hola" in a)

False

<center><h1>Special Built-In Methods</h1></center>

A built-in method is a special method that can used without its creation. In simple words, it can be used by simply refering its name provided required arguments. 

There are so many built-in methods in python which will ease the complications. We need not worry about the code that is been holding the function to work like magic.

List of built-in methods

* ```python
print()
```
* ```python
type()
```
* ```python
id()
```
* ```python
help()
```
* ```python
len()
```
* ```python
abs()
```
* ```python
min()
```
* ```python
max()
```
* ```python
int()
```
* ```python
range()
```
* ```python
float()
```
* ```python
str()
```
* ```python
list()
```
* ```python
sorted()
```
* ```python
reversed()
```
* ```python
round()
```
* ```python
...
```

### Homework or Exercise

**Note** - Find out more about this by yourself.

* **step 1** - apply `help()` function with any of the above functions.
* **step 2** - read the description of the function.
* **step 3** - come up with your own examples and test it yourself.

You can find one example below -

In [49]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [50]:
print("The Earth is my home !!!")

The Earth is my home !!!

### What did we learn?

* Variables
* Data types
* Operators
* Types of Opeators
* Built-in methods